main_ohne_StartOption.js
main - Kopie.js
test-plugin.code-workspace
copy-plugin-files.js
haupt.js
main - mit ausgelagerter updatejs.js
aktualisierung.js
.vscode/bookmarks.json
ausgangsdateien/main_auslagern_von_updatelogik_hellobeispiel.js
ausgangsdateien/main.js
ausgangsdateien/manifest.json
main_update_logik.js
spindisync_mit_startoption.js
